input[type=text] {
  border: 3px solid #62232f;
  border-radius: 0 px;
  background-color: #d9a066;
  font-family: "Pixel_Normal";
  font-size: 32p;
}

input[type=text]:focus {
  outline: white solid 3px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #62232f;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #8f4029;
  border: 1px;
}

input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
}
